case status
  when 200
    .label.label-success= status
  when 201
    .label.label-success= status
  when 300
    .label.label-info= status
  when 400
    .label.label-danger= status
  when 403
    .label.label-danger= status
  default
    .label= status
