doctype html
html
  head
    title API Documentation
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="assets/css/bootstrap.min.css")
    script(type="text/javascript", src="assets/js/jquery.min.js")
    script(type="text/javascript", src="assets/js/bootstrap.min.js")

  body
    .container
      .row
        .col-md-12
          h1 API Documentation
          hr
      .row
        .col-md-3
          ul.nav.nav-pills.nav-stacked.api-doc-nav
            each resources, resourceName in data
              li.nav-header= resourceName
              each resource in resources
                li
                  a(href="##{resourceName+resource.action}" role="tab" data-toggle="tab")
                    case resource.method
                      when 'get', 'GET'
                        .pull-right.label.label-success= resource.method
                      when 'post', 'POST'
                        .pull-right.label.label-info= resource.method
                      when 'put', 'PUT'
                        .pull-right.label.label-warning= resource.method
                      when 'delete', 'DELETE'
                        .pull-right.label.label-danger= resource.method
                    = resource.action

        .col-md-9
          .tab-content
            each resources, resourceName in data
              each resource in resources
                .tab-pane.fade(id="#{resourceName+resource.action}")
                  .panel.panel-default
                    .panel-heading
                      strong.text-muted= resourceName
                      = " - " + resource.action
                      small.text-muted= " - " + resource.url
                      .pull-right
                        case resource.method
                          when 'get', 'GET'
                            .label.label-success= resource.method
                          when 'post', 'POST'
                            .label.label-info= resource.method
                          when 'put', 'PUT'
                            .label.label-warning= resource.method
                          when 'delete', 'DELETE'
                            .label.label-danger= resource.method
                      br
                      small.text-muted= resource.description
                    .panel-body
                      each request in resource.requests
                        .row
                          .col-md-6
                            h4 Request params
                            if request.params
                              table.table.table-striped.table-bordered.table-condensed
                                each val, key in request.params
                                  tr
                                    th= key
                                    td= val
                            else
                              .text-muted None
                          .col-md-6
                            h4
                              | Response
                              .pull-right
                                case request.status
                                  when 200
                                    .label.label-success= request.status
                                  when 201
                                    .label.label-success= request.status
                                  when 300
                                    .label.label-info= request.status
                                  default
                                    .label= request.status
                            if request.response
                              pre= request.response

