doctype html
html
  head
    title API Documentation
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="stylesheet", href="assets/css/bootstrap.min.css")
    script(type="text/javascript", src="assets/js/jquery.min.js")
    script(type="text/javascript", src="assets/js/bootstrap.min.js")

  body
    .container
      include _header
      .row
        .col-md-3
          include _nav

        .col-md-9
          .tab-content
            each resources, resourceName in data
              each resource, index in resources
                .tab-pane.fade(id="#{resourceName+resource.action}")
                  .panel.panel-default
                    .panel-heading
                      strong.text-muted= resourceName
                      = " - " + resource.action
                      small.text-muted= " - " + resource.url
                      .pull-right
                        - method = resource.method
                        include _method_label
                      br
                      small.text-muted= resource.description
                    .panel-body
                      each request in resource.requests
                        .row.request
                          .col-md-5
                            h4 Request params
                            if request.params
                              table.table.table-striped.table-bordered.table-condensed
                                each val, key in request.params
                                  tr
                                    th= key
                                  tr
                                    td
                                      pre= JSON.stringify(val, null, '  ')
                            else
                              .text-muted None
                          .col-md-7
                            h4
                              | Response
                              .pull-right
                                - status = request.status
                                include _status_label
                            if request.response
                              pre.pre-scrollable= request.response
                          a.label.pull-right.back-to-top(href='#top') &#9650; Back to top

    script
      :coffee
        jQuery ->
          $('ul.api-doc-nav li:not(".nav-header"):first a').click();